@supports (display: grid)
{
    .footer-top-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-template-rows: 100%;
        margin: 0;
        padding: 0;
        grid-template-areas: "footer-top-row__item footer-top-row__users footer-top-row__contact";
    }

    .footer-top-row__item {
        width: auto;
        padding-left: 30px;
        margin: 0;
        grid-area: footer-top-row__item;
    }

    .footer-top-row__users {
        width: auto;
        padding-left: 100px;
        margin: 0;
        grid-area: footer-top-row__users;
    }

    .footer-top-row__contact {
        width: auto;
        padding-left: 100px;
        margin: 0;
        grid-area: footer-top-row__contact;
    }

    .footer-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-template-rows: 100%;
        margin: 0;
        padding: 0;
        grid-template-areas: "footer-catalog footer-buyers contact";
    }

    .footer-catalog {
        width: auto;
        padding-left: 30px;
        margin: 0;
        grid-area: footer-catalog;
    }

    .footer-buyers {
        width: auto;
        padding-left: 100px;
        margin: 0;
        grid-area: footer-buyers;
    }

    .contact {
        width: auto;
        padding-left: 100px;
        margin: 0;
        grid-area: contact;
    }

    @media screen and (max-width: 720px) {
        .footer-top-row__item, .footer-top-row__users, .footer-top-row__contact,
        .footer-catalog, .footer-buyers, .contact {
            padding: 0;
            margin: 0;
        }
    }
}